.main {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.roomSelection {
  /* Add styles for the room selection tabs */
}

.mainContent {
  flex-grow: 1; /* Allow mainContent to fill available space */
  position: relative; /* Keep position as relative */
}