/* message.module.css */

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.messageContent {
  display: inline-block;
  max-width: 70%;
  word-wrap: break-word;
  border-radius: 8px;
  padding: 3px 12px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.sender {
  font-weight: bold;
}

.timestamp {
  font-size: 0.8em;
  color: #777;
}

.text {
  font-size: 1em;
margin-left: 10px ;
}
